In [35]:
import numpy as np
import pandas as pd
%matplotlib inline
data = pd.read_csv("titan.csv")
data['Old Scheme (in thousands)'] = data['Old Scheme (in thousands)']*1000
data['New Scheme (in thousands)'] = data['New Scheme (in thousands)']*1000
data.head(10)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                      57000                      62000
1            2                     103000                     122000
2            3                      59000                      54000
3            4                      75000                      82000
4            5                      84000                      84000
5            6                      73000                      86000
6            7                      35000                      32000
7            8                     110000                     104000
8            9                      44000                      38000
9           10                      82000                     107000

### 1. Find the mean of old scheme and new scheme column.

In [36]:
mean_old_scheme = data['Old Scheme (in thousands)'].mean()
mean_new_scheme = data['New Scheme (in thousands)'].mean()

In [37]:
print("Old Scheme Mean : ", mean_old_scheme)
print("New Scheme Mean : ", mean_new_scheme)

Old Scheme Mean :  68033.33333333333
New Scheme Mean :  72033.33333333333

### 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [38]:
from scipy import stats
from scipy.stats import ttest_1samp


t_statistic, p_value = stats.ttest_rel(data['New Scheme (in thousands)'],data['Old Scheme (in thousands)'])
print(t_statistic,p_value)
# Null Hypothesis : new scheme has not significantly raised outputs
# Alternate Hypothesis : new scheme has significantly raised outputs
print ("two-sample t-test p-value=", p_value)
# p_value < 0.05 => alternate hypothesis:
print("p_value greater than 0.05, NULL hypothesis is true")

1.5559143823544377 0.13057553961337662
two-sample t-test p-value= 0.13057553961337662
p_value greater than 0.05, NULL hypothesis is true

### 3. What conclusion does the test (p-value) lead to? (2.5 points)

##### p-value is greater than 0.05 hence Null hypothesis is true
##### Conclusion of the test is "new scheme has not significantly raised outputs"

### 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error?
        b) What is the p- value of the hypothesis test if we test for a difference of $5000?
        c) Power of the test

#### a) The probability of a type 1 error?
A Type 1 error is the case when we reject the null hypothesis while it was true. Probability of Type 1 error is same as significance level given above i.e. 5%

#### b) What is the p- value of the hypothesis test if we test for a difference of $5000?
Null hypothesis : difference is less than equal to 5000<br>
Alternate hypothesie : difference is greater than 5000

In [39]:
t_statistic, p_value = stats.ttest_rel(data['New Scheme (in thousands)'],data['Old Scheme (in thousands)'])
print(t_statistic,p_value)

# p_value < 0.05 => alternate hypothesis:
mean_of_difference = data['New Scheme (in thousands)'].mean() - data['Old Scheme (in thousands)'].mean()
print("difference of mean : ",mean_of_difference)
print("p_value greater than 0.05, NULL hypothesis is true")

print ("p-value if we test for the difference of $5000 is ", p_value)

1.5559143823544377 0.13057553961337662
difference of mean :  4000.0
p_value greater than 0.05, NULL hypothesis is true
p-value if we test for the difference of $5000 is  0.13057553961337662

#### c) power of the test

In [40]:
print("probability of type 2 error 13% " )

probability of type 2 error 13%

In [41]:
print("Power of the hypothesis test is 1 minus the probability of Type II error")
power_of_test = 1 - p_value
print("Power of test : ",power_of_test)

Power of the hypothesis test is 1 minus the probability of Type II error
Power of test :  0.8694244603866234